@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

@import "./componets/types";
@import "./componets/colors";

.container {
    .boxxing1 {
        width: 100%;
        min-height: 100vh;

        nav {
            width: 100%;
            min-height: 10vh;
            @include boxxing1;

            .boxxing {
                width: 30%;
                min-height: 10vh;
                @include flexbox;
                max-width: 80%;
            }

            .menu {
                width: 40%;
                min-height: 10vh;
                @include flexbox;
                gap: 30px;

                a {
                    @include fonts;
                    font-size: 23px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #212832;
                    transition: all .3s linear;

                    &:hover {
                        color: $colorblue;
                    }
                }
            }

            .sign {
                width: 30%;
                min-height: 10vh;
                display: flex;
                align-items: center;
                gap: 50px;

                button {
                    width: 132px;
                    height: 50px;
                    left: 1119px;
                    top: 47px;
                    border: 3px solid $colorLightOrange;
                    border-radius: 5px;
                    cursor: pointer;
                    @include fonts;
                    font-size: 17px;
                    line-height: 22px;
                    color: $colorLightOrange;
                }

                select {
                    border: none;
                    cursor: pointer;
                }
            }
        }

        .boxxing2 {
            @include flexbox;

            .file {
                display: flex;
                width: 80%;
                min-height: 90vh;

                header {
                    width: 50%;
                    min-height: calc(100vh - 10vh);
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    align-items: center;

                    .help {
                        width: 92%;
                        min-height: 90vh;
                        @include help;

                        h2 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 23px;
                            line-height: 30px;
                            text-transform: uppercase;
                            color: $colorDarkOrange;
                        }

                        .travel {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            h1 {
                                font-style: normal;
                                font-weight: 700;
                                font-size: 95px;
                                line-height: 105px;
                                letter-spacing: -0.04em;
                                color: $colorDarkBlue;
                            }
                        }

                        .text {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 30px;
                            color: $colorLightBlue;
                            width: 557px;
                            height: 90px;
                        }

                        .built {
                            display: flex;
                            gap: 50px;

                            button {
                                width: 170px;
                                height: 60px;
                                background: $bacground-colororange;
                                box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
                                border-radius: 10px;
                                border: none;
                                cursor: pointer;
                                @include fonts;
                                font-size: 20px;
                                line-height: 23px;
                                text-align: center;
                                color: $colorWhite;
                            }

                            .video {
                                width: 52px;
                                height: 52px;
                                background: $colorDarkOrange;
                                box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
                                border-radius: 50%;
                                @include flexbox;
                                cursor: pointer;
                            }

                            h4 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 17px;
                                line-height: 26px;
                                color: #686D77;
                            }
                        }
                    }
                }

                main {
                    width: 50%;
                    min-height: calc(100vh - 10vh);
                    @include boxxing2;
                }
            }
        }
    }

    .We-Offer-Best-Services {
        width: 100%;
        min-height: 65vh;

        .navbar {
            width: 100%;
            min-height: 15vh;
            padding: 15px 0;

            .category {
                @include category;

                h4 {
                    font-size: 18px;
                    line-height: 27px;
                    color: #FFA90F;
                    @include text;
                }

                h1 {
                    font-size: 50px;
                    line-height: 64px;
                    text-transform: capitalize;
                    color: #14183E;
                    @include text;
                    font-weight: 700;
                }
            }
        }

        .services {
            width: 100%;
            min-height: 50vh;
            @include item;

            .item {
                width: 280px;
                height: 345px;
                border-radius: 36px;
                @include items;
                transition: all .3s linear;

                &:hover {
                    width: 290px;
                    height: 355px;
                    background: #FFFFFF;
                    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                    border-radius: 36px;
                    border-bottom: .5px solid;
                    border-top: .5px solid;
                }

                h2 {
                    font-size: 25px;
                    line-height: 27px;
                    font-weight: bold;
                    color: #1E1D4C;
                    text-align: center;
                    font-style: normal;
                }

                .calc {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 26px;
                    text-align: center;
                    color: #5E6282;
                    width: 70%;
                }
            }

            .cust {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 26px;
                color: #5E6282;
                width: 80% !important;
            }

            .itemst {
                width: 280px;
                height: 345px;
                border-radius: 36px;
                @include items;
                gap: 30px !important;

                img {
                    width: 140px;
                    height: 10vh;
                }
            }

            .items {
                width: 280px;
                height: 345px;
                border-radius: 36px;
                @include items;
                gap: 40px !important;
            }
        }
    }

    .Top-Destinations {
        width: 100%;
        min-height: 70vh;

        .nav-box {
            width: 100%;
            min-height: 12vh;
            padding: 12px 0;
            @include nav-box;

            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 27px;
                text-align: center;
                color: #FFA90F;
            }

            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 60px;
                line-height: 64px;
                text-align: center;
                text-transform: capitalize;
                color: #14183E;
            }
        }

        .great-box {
            display: flex;
            min-height: 60vh;
            justify-content: center;
            align-items: center;
            gap: 90px;
            flex-wrap: wrap;

            .trip-box {
                width: 284px;
                height: 457px;
                filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
                border-radius: 24px;

                .crush {
                    width: 285px;
                    height: 120px;
                    background: #FFFFFF;
                    border-radius: 0px 0px 24px 24px;
                    margin-left: 5px;

                    .rome {
                        width: 100%;
                        min-height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 90px;
                        padding: 5px 13px;

                        h2 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 124.5%;
                            color: #5E6282;
                        }

                        h3 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 124.5%;
                            color: #6246E5;
                        }
                    }

                    .day {
                        width: 60%;
                        min-height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        img {
                            width: 25px !important;
                            min-height: 25px;
                        }

                        h4 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 124.5%;
                            color: #5E6282;
                        }
                    }
                }

                .crush1 {
                    width: 285px;
                    height: 120px;
                    background: #FFFFFF;
                    border-radius: 0px 0px 24px 24px;
                    margin-left: -0.3px;
                    margin-top: -2.5px;
                }

                .crush2 {
                    margin-left: 15px;
                }
            }

            .png {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                img {
                    width: 420px;
                    max-height: 36vh;
                    border-radius: 24px 24px 0 0;
                }
            }

            .jpg {
                img {
                    border-radius: 24px 24px 0 0;
                    width: 100%;
                    max-height: 36vh;
                }
            }

            .img {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                img {
                    width: 417px;
                    max-height: 36.4vh;
                    border-radius: 24px 24px 0 0;
                }
            }
        }
    }

    .Easy-and-Fast {
        width: 100%;
        min-height: 70vh;
        @include flexbox;
        justify-content: center;
        margin-top: 50px;

        .left {
            width: 35%;
            min-height: 70vh;
            display: flex;
            flex-direction: column;
            gap: 25px;

            h4 {
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 27px;
                color: #FFA90F;
            }

            .your {

                width: 691px;
                height: 130px;

                h1 {

                    font-style: normal;
                    font-weight: 700;
                    font-size: 70px;
                    line-height: 90px;
                    text-transform: capitalize;
                    color: #14183E;
                    font-family: 'Volkhov';
                }
            }

            .steps-box {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .steps {
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    margin-top: 50px;

                    .destin {
                        width: 70px;
                        height: 71px;
                        @include flexbox;
                        background: #F0BB1F;
                        border-radius: 13px;
                    }

                    .destin2 {
                        background: #F15A2B;
                    }

                    .destin3 {
                        background: #006380;
                    }

                    .text-box {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;

                        h5 {
                            font-style: normal;
                            font-weight: 700;
                            font-size: 27px;
                            line-height: 124.5%;
                            color: #5E6282;
                        }

                        .lorem {
                            width: 527px;
                            height: 40px;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 25px;
                            line-height: 124.5%;
                            color: #5E6282;
                        }
                    }
                }
            }
        }

        .right {
            width: 35%;
            min-height: 70vh;
            @include flexbox;
            position: relative;

            .abb {
                width: 354px;
                height: 367px;
                position: absolute;
                margin-bottom: 400px;
                margin-right: 170px;
                // background: #59B1E6;
                // opacity: 0.8;
                // filter: blur(75px);
                // z-index: 2;
            }

            .greese {
                width: 380px;
                height: 450px;
                position: relative;
                background: #FFFFFF;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                border-radius: 26px;
                z-index: 3;

                .photo {
                    width: 100%;
                    min-height: 205px;
                    @include flexbox;
                }

                .to-box {
                    width: 100%;
                    min-height: 210px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    padding: 14px 25px;

                    h2 {
                        font-style: normal;
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 124.5%;
                        letter-spacing: 0.015em;
                        color: #080809;
                    }

                    .day_box {
                        display: flex;
                        gap: 20px;
                        width: 87%;

                        h4,
                        h5 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 19px;
                            line-height: 124.5%;
                            letter-spacing: -0.005em;
                            color: #84829A;
                        }
                    }

                    .brands {
                        width: 70%;
                        min-height: 7vh;
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        .brand {
                            width: 40px;
                            min-height: 40px;
                            background: #F5F5F5;
                            border-radius: 50%;
                            @include flexbox;
                        }
                    }

                    .like-box {
                        width: 100%;
                        min-height: 5vh;
                        display: flex;
                        gap: 150px;
                        align-items: center;

                        .people {
                            display: flex;
                            gap: 15px;

                            h5 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 18px;
                                line-height: 124.5%;
                                letter-spacing: -0.02em;
                                color: #84829A;
                            }
                        }
                    }
                }

                .going {
                    width: 263px;
                    height: 129px;
                    background: #FFFFFF;
                    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                    position: absolute !important;
                    margin-top: -200px;
                    margin-left: 245px;
                    transition: all .5s linear;
                    border-radius: 18px;

                    &:hover {
                        border-top: .5px solid;
                        border-bottom: .5px solid;
                    }

                    .trips {
                        width: 100%;
                        min-height: 7vh;
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        padding: 10px 15px;

                        .on-box {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                            padding: 5px 0;

                            h6 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 124.5%;
                                letter-spacing: -0.035em;
                                color: #84829A;
                            }

                            h5 {
                                font-style: normal;
                                font-weight: 500;
                                font-size: 20px;
                                line-height: 124.5%;
                                letter-spacing: -0.015em;
                                color: #080809;
                            }
                        }

                        img {
                            border-radius: 50%;
                        }
                    }

                    .display {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 5px;

                        h4 {
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 124.5%;
                            letter-spacing: -0.055em;
                            color: #161618;
                            display: flex;
                            gap: 13px;
                            justify-content: center;
                            align-items: center;

                            span {
                                color: rgb(170, 168, 168);
                            }
                        }
                    }
                }
            }
        }
    }

    .Testimonials {
        width: 100%;
        min-height: 60vh;
        @include flexbox;

        .test_left {
            width: 35%;
            min-height: 60vh;
            display: flex;
            justify-content: center;
            gap: 50px;
            flex-direction: column;

            h3 {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                text-transform: uppercase;
                color: #FFA90F;
            }

            .what {
                width: 569px;
                height: 130px;

                h1 {
                    font-family: 'Volkhov';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 65px;
                    line-height: 84px;
                    text-transform: capitalize;
                    color: #14183E;
                }
            }

            .say-box {
                display: flex;
                gap: 30px;

                .say {
                    width: 20px;
                    height: 20px;
                    background: #E5E5E5;
                    border-radius: 50%;
                    cursor: pointer;
                    transition: all .3s linear;

                    &:hover {
                        background: #39425D;
                    }

                    &:active {
                        transform: scale(1.1);
                    }
                }
            }
        }

        .test_right {
            width: 35%;
            min-height: 60vh;
            display: flex;
            justify-content: end;
            align-items: center;

            .windows {
                width: 504px;
                height: 245px;
                background: #FFFFFF;
                box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
                border-radius: 10px;
                position: relative;
                z-index: 6 !important;

                .foto {
                    img {
                        position: absolute;
                        margin-top: -25px;
                        margin-left: -35px;
                    }
                }

                .ipsum {
                    width: 90%;
                    height: 105px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 32px;
                    color: #5E6282;
                    display: flex;
                    justify-content: center !important;
                    align-items: center;
                    margin: 35px 30px;
                }

                .mike {
                    width: 100%;
                    min-height: 7vh;
                    padding: 5px 30px;

                    h4,
                    h5 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 27px;
                        color: #5E6282;
                    }

                    h5 {
                        font-size: 18px;
                        font-weight: 100;
                    }
                }

                .chris {
                    width: 502px;
                    height: 232px;
                    border: 2px solid #F7F7F7;
                    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
                    border-radius: 10px;
                    position: absolute;
                    z-index: 1 !important;
                    margin-top: -170px;
                    margin-left: 56px;
                    border-top: transparent;
                    border-left: transparent;
                    display: flex;
                    align-items: end;
                    gap: 30px;

                    .h {
                        width: 200px;

                        h2,
                        h3 {
                            font-style: normal;
                            font-weight: 100;
                            font-size: 18px;
                            line-height: 27px;
                            color: #5E6282;
                        }

                        h2 {
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .logos {
        width: 100%;
        min-height: 30vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }


    .interesting-offer {
        width: 95%;
        min-height: 60vh;
        background: url(/image/32.png) no-repeat center;
        @include flexbox;
        background-size: cover;
        flex-direction: column;

        .subscribe {
            width: 80%;
            height: 208px;
            @include flexbox;

            h1 {
                font-style: normal;
                font-weight: 600;
                font-size: 50px;
                line-height: 74px;
                text-align: center;
                color: #5E6282;
            }
        }

        form {
            display: flex;
            gap: 60px;

            #email {
                width: 421px;
                height: 68px;
                background: #FFFFFF;
                border-radius: 10px;
                border: none;
                font-size: 18px;
                line-height: 17px;
                color: #39425D;
                display: flex;
                gap: 30px;
                background-image: url(/image/33.png);
                background-position: 20px;
                background-repeat: no-repeat;
                color: #080809;
                display: flex;
                justify-content: start;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 55px;
            }

            #email:focus {
                background-color: lightblue;
                color: #000000;
                border: none;
            }

            #submit {
                width: 180px;
                height: 68px;
                background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
                border-radius: 10px;
                border: none;
                font-style: normal;
                font-weight: 200;
                font-size: 17px;
                line-height: 23px;
                text-align: center;
                color: #FFFFFF;
                cursor: pointer;
            }

        }
    }

    footer {
        width: 100%;
        min-height: 50vh;
        @include flexbox;

        .site {
            width: 25%;
            min-height: 50vh;

            .book {
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 124.5%;
                width: 287px;
                height: 48px;
                color: #5E6282;
            }
        }

        .head {
            display: flex;
            width: 15%;
            min-height: 40vh;
            justify-content: center;
            gap: 40px;
            flex-direction: column;
            margin-top: -80px;

            img {
                max-width: 80%;
            }
        }

        .body {
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;

            ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                gap: 30px;
                cursor: pointer;

                li:first-child {
                    color: #080809;
                    font-weight: bold;
                    font-size: 26px;
                    cursor: auto;

                    &:hover {
                        color: #080809;
                    }
                }

                li {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 124.5%;
                    color: #5E6282;
                    transition: all .3s linear;

                    &:hover {
                        color: hsl(138, 98%, 66%);
                    }
                }
            }
        }

        .footer {
            min-height: 22vh;
            display: flex;
            align-items: center;
            gap: 30px;
            flex-direction: column;
            .air {
                display: flex;
                justify-content: center;
                gap: 50px;
            }

            .blog {
                width: 50px;
                height: 50px;
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 22px;
                transition: all .3s linear;
                cursor: pointer;

                &:hover {
                    background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
                    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
                    color: #FFFFFF;
                }
            }
            h2 {
                font-style: normal;
                    font-weight: 500;
                    font-size: 27px;
                    line-height: 124.5%;
                    letter-spacing: 0.005em;
                    color: #5E6282;
            }

            .image {
                display: flex;
                gap: 30px;
            }
        }
    }
}

@media (max-width: 768px) {
    .boxxing1 {
        nav {
            display: flex;
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;

            .sign {
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .menu {
                display: none !important;
            }
        }

        .boxxing2 {
            .file {
                width: 100% !important;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column !important;

                header {
                    width: 100% !important;
                    min-height: 10vh !important;

                    .help {
                        width: 100% !important;
                        display: flex;
                        gap: 100px !important;

                        h2 {
                            font-size: 20px !important;
                            width: 100%;
                            padding: 10px 10px;
                            text-align: center;
                        }

                        .travel {
                            h1 {
                                font-size: 40px !important;
                                line-height: 50px !important;
                                text-align: center;
                            }
                        }

                        .text {
                            font-size: 15px !important;
                            width: 100% !important;
                            padding: 10px 10px;
                            text-align: center;
                        }

                        .built {
                            display: flex;
                            flex-wrap: wrap !important;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            main {
                min-height: 30vh !important;
                width: 100% !important;
                display: flex;
                justify-content: center !important;
                align-items: center !important;

                img {
                    width: 400px;
                    margin-left: -50px;
                    max-width: 100%;
                }
            }
        }
    }

    .We-Offer-Best-Services {
        .navbar {
            .category {
                h4 {
                    font-size: 16px !important;
                }

                h1 {
                    font-size: 45px !important;
                    padding: 10px 10px;
                    line-height: 45px !important;
                }
            }
        }

        .services {
            display: flex;
            gap: 40px;
            padding: 20px;
        }
    }

    .Top-Destinations {

        .nav-box {

            h3 {
                font-size: 20px !important;
            }

            h1 {
                font-size: xx-large !important;
            }
        }

        .great-box {
            padding: 25px 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px !important;

            .png {
                img {
                    width: 330px !important;
                }
            }

            .jpg {
                margin-left: 50px;

                img {
                    width: 240px !important;
                }
            }

            .img {
                img {
                    width: 330px !important;
                }
            }

            .crush {
                width: 240px !important;

                h2 {
                    width: 200px !important;
                }
            }

            .crush2 {
                width: 225px !important;
            }

            .crush3 {
                width: 235px !important;
            }
        }
    }

    .Easy-and-Fast {
        display: flex;
        flex-direction: column;

        .left {
            width: 100% !important;
            padding: 13px;

            h4 {
                text-align: center;
            }

            .your {
                min-height: 20vh !important;
                display: flex;
                width: 100% !important;
                font-size: 23px !important;
                flex-wrap: wrap;

                h1 {
                    padding: 0 10px;
                    text-align: center;
                    line-height: 60px !important;
                    font-size: 45px !important;
                }
            }

            .steps-box {
                display: flex;
                flex-direction: column;
                gap: 10px !important;

                .steps {
                    min-height: 16vh;
                    display: flex;
                    flex-direction: column;

                    .text-box {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px !important;

                        h5 {
                            font-size: 25px !important;
                            text-align: center;
                        }

                        .lorem {
                            font-size: 20px !important;
                            min-height: 8vh;
                            width: 100% !important;
                            padding: 0 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .right {
            width: 100% !important;
            min-height: 55vh !important;
            padding: 15px 0;

            .greese {
                min-height: 48vh !important;
                display: flex;
                flex-direction: column;
                position: relative;

                .to-box {
                    h2 {
                        text-align: center;
                        font-size: 25px !important;
                    }

                    .day_box {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                    }

                    .brands {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100% !important;
                        cursor: pointer;

                        .brand {
                            transition: all .3s linear;

                            &:hover {
                                background-color: rgb(198, 238, 178);
                            }
                        }
                    }

                    .like-box {
                        display: flex;
                        gap: 20px !important;

                        .people {
                            width: 100% !important;
                        }

                        img {
                            cursor: pointer;

                            &:active {
                                background-color: red;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .going {
                    // display: none;
                    position: absolute;
                    margin: 460px 50px !important;
                    transition: all .5s linear;
                    display: none;

                    &:hover {
                        border-top: solid blue;
                        border-bottom: solid blue;
                    }
                }
            }

            .abb {
                display: none;
            }
        }
    }

    .Testimonials {
        display: flex;
        flex-direction: column;
        gap: 70px;

        .test_left {
            width: 100% !important;
            min-height: 30vh !important;
            display: flex;
            flex-direction: column;
            gap: 30px !important;
            padding: 10px 13px;

            h3 {
                text-align: center;
            }

            .what {
                width: 100% !important;
                min-height: 10vh !important;

                h1 {
                    font-size: 40px !important;
                    text-align: center;
                    line-height: 55px !important;
                }
            }

            .say-box {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .test_right {
            width: 100% !important;
            min-height: 40vh !important;

            .windows {
                padding: 0 10px;
                width: 100% !important;

                .foto {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin: 0 !important;
                        margin-top: -50px !important;
                    }
                }

                .ipsum {
                    text-align: center;
                    margin-top: 50px !important;
                    margin-left: 20px !important;
                }

                .mike {

                    h4,
                    h5 {
                        text-align: center;
                    }
                }

                .chris {
                    width: 75% !important;
                    display: none !important;

                    .h {
                        @include flexbox;
                        width: 100% !important;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logos {
        padding: 15px 5px;
        max-width: 50% !important;
        min-height: 80vh !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px;
        display: flex;
    }

    .interesting-offer {
        display: flex;
        flex-direction: column;
        gap: 100px !important;
        width: 100% !important;
        padding: 20px 12px;

        .subscribe {
            width: 100% !important;
            min-height: 15vh !important;
            margin-top: 100px;

            h1 {
                font-size: 30px !important;
                line-height: 45px !important;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            gap: 30px !important;
            justify-content: center;
            align-items: center;
            margin-top: 45px;

            #email {
                width: 90% !important;
            }
        }
    }
    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 15px 10px ;
        .head {
            width: 100% !important;
            min-height: 20vh !important;
            margin: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center; flex-direction: column;
            img {
                max-width: 60% !important;
            }
            .book {
                text-align: center;
            }
        }
        .body {
            display: flex;
            flex-direction: column;
            ul {
                text-align: center;
            }
        }
        .footer {
            width: 100% !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .boxxing1 {
        nav {
            display: flex;
            justify-content: center;
            align-items: center;

            .sign {
                width: 50% !important;
                // display: flex;
                // justify-content: center;
                // align-items: center;
            }

            .menu {
                display: none !important;
            }
        }

        .boxxing2 {
            .file {
                width: 100% !important;
                display: flex;
                flex-wrap: wrap;
                flex-direction: column !important;

                header {
                    width: 100% !important;
                    max-height: 20vh !important;
                    display: flex;
                    justify-content: center !important;

                    .help {
                        width: 100% !important;
                        display: flex;
                        gap: 100px !important;

                        h2 {
                            font-size: 20px !important;
                            width: 100%;
                            padding: 10px 10px;
                            text-align: center;
                        }

                        .travel {
                            h1 {
                                font-size: 60px !important;
                                line-height: 80px !important;
                                text-align: center;
                            }
                        }

                        .text {
                            font-size: 20px !important;
                            width: 100% !important;
                            padding: 10px 10px;
                            text-align: center;
                        }

                        .built {
                            display: flex;
                            flex-wrap: wrap !important;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }

            main {
                min-height: 30vh !important;
                width: 100% !important;
                display: flex;
                justify-content: center !important;
                align-items: center !important;

                img {
                    width: 600px;
                    margin-left: -50px;
                    max-width: 100%;
                }
            }
        }
    }

    .We-Offer-Best-Services {
        .navbar {
            .category {
                h4 {
                    font-size: 20px !important;
                }

                h1 {
                    font-size: 60px !important;
                    padding: 10px 10px;
                    line-height: 80px !important;
                }
            }
        }

        .services {
            display: flex;
            gap: 40px;
            padding: 20px;
        }
    }

    .Top-Destinations {

        .nav-box {

            h3 {
                font-size: 20px !important;
            }

            h1 {
                font-size: 50px !important;
            }
        }

        .great-box {
            padding: 25px 10px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px !important;

            .png {
                img {
                    width: 330px !important;
                }
            }

            .jpg {
                margin-left: 50px;
                img {
                    width: 240px !important;
                    max-height: 30vh !important;
                    margin-top: 15px;
                }
                .day {
                    img {
                            width: 240px !important;
                        }
                }
            }

            .img {
                img {
                    width: 330px !important;
                }
            }

            .crush {
                width: 240px !important;

                h2 {
                    width: 200px !important;
                }
            }

            .crush2 {
                width: 225px !important;
            }

            .crush3 {
                width: 225px !important;
            }
        }
    }

    .Easy-and-Fast {
        display: flex;
        flex-direction: column;

        .left {
            width: 100% !important;
            padding: 13px;

            h4 {
                text-align: center;
                font-size: xx-large !important;
            }

            .your {
                min-height: 20vh !important;
                display: flex;
                width: 100% !important;
                flex-wrap: wrap;

                h1 {
                    padding: 0 10px;
                    text-align: center;
                    line-height: 80px !important;
                    font-size: 60px !important;
                }
            }

            .steps-box {
                display: flex;
                flex-direction: column;
                gap: 10px !important;

                .steps {
                    min-height: 16vh;
                    display: flex;
                    flex-direction: column;

                    .text-box {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px !important;

                        h5 {
                            font-size: 35px !important;
                            text-align: center;
                        }

                        .lorem {
                            font-size: 23px !important;
                            min-height: 8vh;
                            width: 100% !important;
                            padding: 0 10px;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .right {
            width: 100% !important;
            min-height: 55vh !important;
            padding: 15px 0;

            .greese {
                min-height: 48vh !important;
                display: flex;
                flex-direction: column;
                position: relative;

                .to-box {
                    h2 {
                        text-align: center;
                        font-size: 25px !important;
                    }

                    .day_box {
                        width: 100% !important;
                        display: flex;
                        justify-content: center;
                    }

                    .brands {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100% !important;
                        cursor: pointer;

                        .brand {
                            transition: all .3s linear;

                            &:hover {
                                background-color: rgb(198, 238, 178);
                            }
                        }
                    }

                    .like-box {
                        display: flex;
                        gap: 20px !important;

                        .people {
                            width: 100% !important;
                        }

                        img {
                            cursor: pointer;

                            &:active {
                                background-color: red;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .going {
                    // display: none;
                    position: absolute;
                    margin: 460px 50px !important;
                    transition: all .5s linear;
                    display: none;

                    &:hover {
                        border-top: solid blue;
                        border-bottom: solid blue;
                    }
                }
            }

            .abb {
                display: none;
            }
        }
    }

    .Testimonials {
        display: flex;
        flex-direction: column;
        gap: 70px;

        .test_left {
            width: 100% !important;
            min-height: 30vh !important;
            display: flex;
            flex-direction: column;
            gap: 30px !important;
            padding: 10px 13px;

            h3 {
                text-align: center;
            }

            .what {
                width: 100% !important;
                min-height: 10vh !important;

                h1 {
                    font-size: 40px !important;
                    text-align: center;
                    line-height: 55px !important;
                }
            }

            .say-box {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .test_right {
            width: 100% !important;
            min-height: 40vh !important;

            .windows {
                padding: 0 10px;
                width: 100% !important;

                .foto {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        margin: 0 !important;
                        margin-top: -50px !important;
                    }
                }

                .ipsum {
                    text-align: center;
                    margin-top: 50px !important;
                    margin-left: 20px !important;
                }

                .mike {

                    h4,
                    h5 {
                        text-align: center;
                    }
                }

                .chris {
                    width: 90% !important;

                    .h {
                        width: 92% !important;
                        @include flexbox;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px !important;

    }

    .logos {
        padding: 15px 5px;
        max-width: 80% !important;
        min-height: 80vh !important;
        justify-content: center !important;
        align-items: center !important;
        gap: 30px;
        display: flex;
    }

    .interesting-offer {
        display: flex;
        flex-direction: column;
        gap: 100px !important;
        width: 100% !important;
        padding: 20px 12px;

        .subscribe {
            width: 100% !important;
            min-height: 15vh !important;
            margin-top: 100px;

            h1 {
                font-size: 40px !important;
                line-height: 50px;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            width: 100% !important;
            gap: 30px !important;
            justify-content: center;
            align-items: center;
            margin-top: 45px;

            #email {
                width: 90% !important;
            }
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 15px 10px;

        .head {
            width: 100% !important;
            min-height: 20vh !important;
            margin: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            img {
                max-width: 60% !important;
            }

            .book {
                text-align: center;
                width: 90% !important;
                font-size: 25px !important;
            }
        }

        .body {
            display: flex;
            // flex-direction: column;
            flex-wrap: wrap;
            width: 100% !important;
            min-height: 40vh !important;
            ul {
                text-align: center;
                li:first-child {
                    font-size: xx-large !important;
                }
                li {
                    font-size: 28px !important;
                }
            }
        }
        .footer {
            width: 100% !important;
        }
    }
}